<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252067972937-unerqfe4b001e6qihu7usn9i85gal21c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252067972937-unerqfe4b001e6qihu7usn9i85gal21c</string>
	<key>API_KEY</key>
	<string>AIzaSyDRwYtrc28Ow1xBq8XYEDTfivUJa5d7S_U</string>
	<key>GCM_SENDER_ID</key>
	<string>252067972937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>mapd726-group4-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mapd726-group4-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252067972937:ios:d7f9ee3e64c16a3004bc98</string>
</dict>
</plist>